.login-title {
    display: grid;
    font-size: 4rem;
    color: #543936;
    margin: 1rem;
  }

  .login-container {
    display: grid;
    border: 0px solid lightslategray;
    border-radius: 10px;
    margin: 6rem auto auto auto;
    height: 35rem;
    width:30rem;
    place-items: center;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .login-button {
    display: grid;
    margin-bottom: 2rem;

  }

  .login-field{
    margin-bottom: 1rem;
    place-content: center;
  }

  .register-button {
    display: grid;
    justify-content: end;
  }