

.post-container {
    display: grid;
    border: 0px solid lightslategray;
    border-radius: 10px;
    margin-top: 2rem;
    margin: 5rem;
    margin-bottom: 10rem;
    height: fit-content;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 250ms;
  }

  .fullPost {

    margin-top: 2rem;
      display: grid;
      height: fit-content;
  }
  /* .post:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateY(-10px);
    cursor: pointer;
  } */
  
  .fullPost-title {
    display: grid;
    margin-top: 1.2em;
    margin-bottom: 2rem;
    justify-content: center;
   
  }

  .info {
      margin-right: 2rem;
      display: grid;
      justify-content: end;
  }
  
  .fullPost-text{
    margin: auto;
    margin-top: 2rem;
    padding: 1.2rem;
    height: fit-content;
    
  }

  .fullPost-buttons {
      place-content: center;

  }



.delete {
    margin: 2rem;
    place-content: end;
}